@model IEnumerable<Web.App.Application.Dtos.Post.PostDto>

<div class="container">
    <div class="LienAjoutDiv col-md-4 col-md-offset-4">
        @Html.ActionLink("Ajouter Post", "Create", "Content")
    </div>

    <div class="row PostsDiv">
    @foreach (var post in Model)
    {
        <div class="PostDiv col-md-12">
            <p class="PublicationDateDiv">
                 @post.PublicationDate
            </p>
            @post.Content
        </div>
    }
    </div>
</div>

